/* 모달창을 화면 중앙. 최상단에 노출 */
.background{
  /* width: 1000px;
  height: 900px;
  margin: 0px 0px;
  border-radius: 50px 50px 50px 50px ;
  background-color: rebeccapurple; */
}
.containermodal {
    
    /* 모달창 크기 */
    width: 90%;
    height: 85%;
    /* 최상단 위치 */
    z-index: 9999;
    
    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* 모달창 디자인 */
    background-color: white;
    
    border: 2px solid black;
    border-radius: 24px;
  }
  
  /* 모달창 내부 X버튼 */
  .close {
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    right: 5%;
    top: 20px;
    text-align: center;
    border-style: none;
    background-color:black;
    color: white;      
    border-radius: 20px;    
  }
  .modal_top{
    /* background-color: red; */
    width: 100%;
    height: 20%;
  }
  .modal_center{
    /* margin: 0px 20px; */
    /* background-color: green; */
    width: 100%;
    height: 70%;
  }  
  .modal_bottom{
    margin-top: 10px;
    /* background-color: yellow; */
    width: 100%;
    display: block;
    text-align: center;
    height: 10%;
  }    
  .locationbtn{
    width: 95%;
    height: 45px;
    text-align: center;
    border-style: none;
    background-color:black;
    color: white;      
    font-family: "regular";
    font-size: 14px;
    border-radius: 5px;
  }
  .searchbox{
    margin-top: 20%;
    margin-left: 5%;
    border-radius: 5px;
    width: 60%;
    height: 22%;
    border: 2px solid black;
  }
  .searchbtn{
    width: 24%;
    height: 25%;
    margin-left: 5%;
    text-align: center;
    border-style: none;
    background-color:black;
    color: white;      
    font-family: "regular";
    font-size: 14px;
    border-radius: 5px;
  }
  .modal_top{
    /* background-color: rebeccapurple; */
  }